.certificates {
    min-width: 100vw;
    min-height: 100vh;
    padding: 100px 20px;
  background: linear-gradient(
    135deg,
    #2b1055 0%,
    #4b1c7a 30%,
    #7b2cbf 55%,
    #c33c9a 75%,
    #ff6a88 100%
  );
  text-align: center;
}

/* HEADINGS */
.cert-sub {
  color: #00f5ff;
  font-weight: 600;
}

.cert-title {
  font-size: 2.8rem;
  margin-bottom: 70px;
  color: #fff;
}

/* GRID */
.cert-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* CARD */
.cert-card {
  background: #fff;
  border-radius: 16px;
  padding: 14px;
  transition: all 0.4s ease;
  cursor: pointer;
  box-shadow: 0 12px 35px rgba(0,0,0,0.25);
}

/* IMAGE */
.cert-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* HOVER */
.cert-card:hover {
  transform: translateY(-12px) scale(1.03);
  box-shadow: 0 20px 60px rgba(0,0,0,0.45);
}

/* MOBILE */
@media (max-width: 900px) {
  .cert-grid {
    grid-template-columns: 1fr;
  }

  .cert-title {
    font-size: 2.2rem;
  }
}
