.services {
    min-height: 100vh;
    min-width: 100vw;
  padding: 100px 20px;
  background: linear-gradient(
    135deg,
    #2b1055 0%,
    #4b1c7a 30%,
    #7b2cbf 55%,
    #c33c9a 75%,
    #ff6a88 100%
  );
  color: white;
  text-align: center;
}

.services-sub {
  color: #00f5ff;
  font-weight: 600;
}

.services-title {
  font-size: 2.8rem;
  margin-bottom: 70px;
}

.services-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* CARD */
.service-card {
  background: rgba(255,255,255,0.1);
  padding: 40px 28px;
  border-radius: 22px;
  transition: all 0.4s ease;
  cursor: pointer;
  border: 2px solid transparent;
  text-align: left;
}

/* ICON */
.service-card .icon {
  font-size: 32px;
  margin-bottom: 20px;
}

/* ACTIVE (CENTER STYLE) */
.service-card.active {
  background: #0e4a6e;
}

/* HOVER EFFECT */
.service-card:hover {
  background: linear-gradient(135deg, #00f5ff, #00ffa3);
  color: #000;
  transform: translateY(-12px);
}

.service-card:hover h3,
.service-card:hover p {
  color: #000;
}

/* TEXT */
.service-card h3 {
  margin-bottom: 14px;
  font-size: 1.3rem;
}

.service-card p {
  line-height: 1.7;
  color: #e8ddff;
}

/* MOBILE */
@media (max-width: 900px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .services-title {
    font-size: 2.2rem;
  }
}
