/* SECTION */
.skills {
  padding: 90px 20px;
  background: linear-gradient(
    135deg,
    #2b1055 0%,
    #4b1c7a 30%,
    #7b2cbf 55%,
    #c33c9a 75%,
    #ff6a88 100%
  );
}


/* CONTAINER */
.skills-container {
  max-width: 1200px;
  margin: auto;
}

/* HEADINGS */
.skills-sub {
  text-align: center;
  color: #25fcfc;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills-title {
  text-align: center;
  font-size: 2.8rem;
  color: #000001;
  margin-bottom: 60px;
}

/* GRID */
.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

/* SKILL ITEM */
.skill {
  margin-bottom: 35px;
}

.skill-head {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: #19f4ff;
  margin-bottom: 10px;
}

/* BAR */
.skill-bar {
  width: 100%;
  height: 10px;
  background: #d6d6d6;
  border-radius: 10px;
  overflow: hidden;
}

.skill-fill {
  height: 100%;
  background: #ffff0c;
  border-radius: 10px;
}

/* MOBILE */
@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .skills-title {
    font-size: 2.2rem;
  }
}
